html {
  //font-family: 'range_0';
}
* html { /* IE6 */
  font-family: 'range_2'
}
*+html { /* IE7 */
  //font-family: 'range_2'
}
/*
@media \0screen {
  html {  // IE8
      //font-family: 'desktop'
  }
}
*/

/* Reset your font families here!
----------------------------------- */
body {
  font-family: @baseFontFamily;
}

/* Queries for supported browsers.
----------------------------------- */
body:after {
  display: none;
}

@media screen and (max-width: 590px) {
  html {
      font-family: "range_0";
  }
  body:after {
      content: "range_0";
  }
}

@media screen and (min-width: 591px) {
  html {
      font-family: "range_1";
  }
  body:after {
      content: "range_1";
  }
}

@media screen and (min-width: 724px) {
  html {
      font-family: "range_2";
  }
  body:after {
      content: "range_2";
  }
}

@media screen and (min-width: 940px) {
  html {
      font-family: "range_3";
  }
  body:after {
      content: "range_3";
  }
}

@media screen and (min-width: 1170px) {
  html {
      font-family: "range_4";
  }
  body:after {
      content: "range_4";
  }
}