/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
// background: url('/assets/img/elements/bg_gray_95x90.png');
//  .at2x('../img/elements/bg_gray_95x90.png', 95px, 90px);

body{
  background-color: white;
  min-width: 940px;
}

.container-fixed {
  margin: 0 auto;
  max-width: 940px;
}
.container-fixed > hr {
  margin: 30px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
